/* .App {
  text-align: center;
  background-image: url("https://www.transparenttextures.com/patterns/grid-me.png"); 
} */

.App {
  text-align: center;
  height: 100%;
  /* max-height: 600px; */
  width: 100%;
  background-color: hsla(200, 40%, 30%, 0.4);
  background-image: url("https://"),
    url("https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png"),
    url("https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png"),
    url("https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png"),
    url("https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png");
  background-repeat: repeat-x;
  background-position: 0 20%, 0 100%, 0 50%, 0 100%, 0 0;
  background-size: 2500px, 800px, 500px 200px, 1000px, 400px 260px;
  animation: 30s para infinite linear;
}

@keyframes para {
  100% {
    background-position: -5000px 20%, -800px 95%, 500px 50%, 1000px 100%,
      400px 0;
  }
}

.btn {
  width: 220px;
  height: 70px;
  background-color: teal;
  border: 3px solid black;
  border-radius: 20px;
  color: white;
  font-size: 19px;
}

.btn:hover {
  background-color: turquoise;
  transform: translate(5px, -7px);
}

.btn:active {
  background-color: black;
}

.btn2 {
  width: 220px;
  height: 70px;
  background-color: teal;
  border: 3px solid black;
  border-radius: 20px;
  color: white;
  font-size: 19px;
}

.designer-btn {
  border: 2px solid teal;
  padding: 8px 5px;
  border-radius: 10px;
}

.designer-btn:hover {
  background-color: teal;
  color: black;
  font-weight: bold;
}
.designer-btn:active {
  background-color: white;
  color: black;
  font-weight: bold;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.btn2:hover {
  background-color: turquoise;
  transform: translate(5px, -7px);
}

.btn2:active {
  background-color: black;
}

.sample-img:hover {
  transform: rotateZ(360deg);
  transition: transform 2s;
}

.glass-bg {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
